# Databasanslutning – Supabase
# Kopiera denna fil, döp om till .env och fyll i riktiga uppgifter
DATABASE_URL = postgresql://postgres.zfoflkbpwdfwrindxqex:bestalldirekt@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
SECRET_KEY=hemlig_nyckel