# Databasanslutning – Supabase
# Kopiera denna fil, döp om till .env och fyll i riktiga uppgifter (fråga Maja A. för riktiga uppgifter DATABASE_URL)
DATABASE_URL=postgresql://postgres:dittlösenord@db.xxxxxxxxxxxx.supabase.co:5432/postgres
SECRET_KEY=hemlig_nyckel