<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Beställ Direkt</title>
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">
        <link href="https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="grid">
            <!-- header skapare av Aya -->
            <header>
                <!-- titel -->
                <img src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="sidans_logo">
                <!-- lägg till profil nedan-->

                <!-- länk till inlogg-->
                <a id="for-foretag" href="{{ url_for('logga_in') }}"> För företag</a>

            </header>

            <!-- nav skapare av April -->
            <nav>
                <!-- rubrik till sökfältet -->
                <!--<h2>Vad vill du boka?</h2> vill vi ha kvar eller ska vi ta bort-->
                
                <!-- sökfält från tutorial/Google Fonts -->
                <form action="/search" method="GET">
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input class="search-input" type="search" name="q" id="search" placeholder="Vad vill du boka idag?">
                    </div>
                </form>
            </nav>

            <!-- main skapare av Maja L -->
            <main>
                <!-- kategorier -->
                 <section>
                    <h2 class="catering_categori">Översikt av kategorier</h2>
                    <div id="grid-cards">
                        <!-- första kategori-->
                        <article class="card">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/brunch.jpeg') }}" alt="">
                                <h3>Brunch</h3>
                            </a>
                        </article>

                        <!-- andra kategori -->
                        <article class="card">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/smattochmingel.jpeg') }}" alt="">
                                <h3>Smått & mingel</h3>
                            </a>
                        </article>

                        <!-- tredje kategori -->
                        <article class="card">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/middagochfestmat.jpg') }}" alt="">
                                <h3>Middag & festmat</h3>
                            </a>
                        </article>

                        <!-- fjärde kategori -->
                        <article class="card">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/buffe.jpg') }}" alt="">
                                <h3>Buffé</h3>
                            </a>
                        </article>

                        <!-- femte kategori -->
                        <article class="card">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/bakverkochsott.jpg') }}" alt="">
                                <h3>Bakverk & sött</h3>
                            </a>
                        </article>

                        <!-- sjätte kategori -->
                        <article class="card card-all">
                            <a href="#">
                                <h3>Visa alla kategorier</h3>
                            </a>
                        </article>
                    </div>
                 </section>
            </main>

            <!-- footer skapare av April -->
            <section class="footer_box">
                <h2>Beställ Direkt</h2>
                <p>© Beställ direkt 2026</p>
            </section>

            <footer>
                <img class="footer_img" src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="kockhatt">
                <p>© Beställ direkt 2026</p>
            </footer>
        </div>
        <h2>Logga in</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Lösenord">
            <button type="submit">Logga in</button>
        </form>
        <h2>Registrera ny användare</h2>
        <form action="/register" method="POST">
            <input type="text" name="namn" placeholder="Företagsnamn">
             <input type="email" name="email" placeholder="Email">
             <input type="password" name="losenord" placeholder="Lösenord">
             <button type="submit">Registrera</button>
            </form>
    </body>
</html>