<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Beställ Direkt</title>
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">
        <link href="https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">
            <header>
                <!-- titel -->
                <img src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="sidans_logo">
                <!-- lägg till profil nedan-->

                <!-- länk till inlogg-->
                <a class="for-foretag" href="{{ url_for('logga_in') }}"> För företag</a>

                <a id="for-foretag" href="{{ url_for('logga_in') }}"> För företag</a>
            </header>

            <nav>     
                <!-- sökfält från tutorial/Google Fonts -->
                <form action="/search" method="GET">
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input class="search-input" type="search" name="search" id="search" placeholder="Vad vill du boka idag?">
                    </div>
                </form>
            </nav>

            <main>
                <!-- kategorier -->
                 <section>
                    <h2 class="catering_categori">Översikt av kategorier</h2>
                    <div class="grid-cards">
                    <div id="grid-cards">
                        
                        <!-- första kategori-->
                        <article class="card">
                            <a href="{{ url_for('kategori', namn='Brunch') }}">
                                <img src="{{ url_for('static', filename='images/brunch.jpeg') }}" alt="Brunch kategori omslag">
                                <h3>Brunch</h3>
                            </a>
                        </article>

                        <article class="card">
                            <a href="{{ url_for('kategori', namn='Smatt-och-mingel') }}">
                                <img src="{{ url_for('static', filename='images/smattochmingel.jpeg') }}" alt="Smått och mingel kategori omslag">
                                <h3>Smått & mingel</h3>
                            </a>
                        </article>

                        <article class="card">
                            <a href="{{ url_for('kategori', namn='Middag-och-festmat') }}">
                                <img src="{{ url_for('static', filename='images/middagochfestmat.jpg') }}" alt="Middag och festmat kategori omslag">
                                <h3>Middag & festmat</h3>
                            </a>
                        </article>

                        <article class="card">
                            <a href="{{ url_for('kategori', namn='Buffe') }}">
                                <img src="{{ url_for('static', filename='images/buffe.jpg') }}" alt="Buffé kategori omslag">
                                <h3>Buffé</h3>
                            </a>
                        </article>

                        <article class="card">
                            <a href="{{ url_for('kategori', namn='Bakver-och-sott') }}">
                                <img src="{{ url_for('static', filename='images/bakverkochsott.jpg') }}" alt="Bakverk och sött kategori omslag">
                                <h3>Bakverk & sött</h3>
                            </a>
                        </article>

                        <!-- sjätte kategori - visa alla kategorier-->
                        <article class="card card-all">
                            <a href="#">
                                <h3>Visa alla kategorier</h3>
                            </a>
                        </article>
                    </div>
                 </section>
            </main>

            <section class="footer_box">
                <h2>Kontakt / info</h2>
                <p>Bla bla blah? policy, kontakt, admin/support</p>
            </section>

            <!-- footer skapare av April -->
            <footer>
                <section id="footer_box">
                    <h2>Kontakt / info</h2>
                    <p>Bla bla blah? policy, kontakt, admin/support</p>
                </section>

                <div id="footer_bottom">
                    <img src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="kockhatt">
                    <p>© Beställ direkt 2026</p>
                </div>
            </footer>
        </div>


        <!--
        <h2>Logga in</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Lösenord">
            <button type="submit">Logga in</button>
        </form>
        <h2>Registrera ny användare</h2>
        <form action="/register" method="POST">
            <input type="text" name="namn" placeholder="Företagsnamn">
             <input type="email" name="email" placeholder="Email">
             <input type="password" name="losenord" placeholder="Lösenord">
             <button type="submit">Registrera</button>
            </form>
        Vi kanske behöver flytta dem till deras sidor, registrering och inlogging??-->
    </body>
</html>