<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Beställ Direkt</title>
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">
    </head>
    <body>
        <div id="grid">
            <!-- header skapare av ... -->
            <header>
                <!-- titel -->
                <img src="{{ url_for('static', filename='/images/logo.') }}" alt="kockhatt">
                <h1>Beställ Direkt</h1>
                <!-- lägg till profil nedan-->

            </header>

            <!-- nav skapare av ... -->
            <nav>
                <!-- lägg till en rubrik för sökfältet nedan -->

                <!-- sökfält från tutorial/Google Fonts -->
                <form action="/search" method="GET">
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input class="search-input" type="search" name="q" id="search" placeholder="Sök">
                    </div>
                </form>
            </nav>

            <!-- main skapare av ... -->
            <main>
                <!-- kategorier -->
                 <section>
                    <h2>Översikt av kategorier</h2>
                    <div id="grid-cards">
                        <!-- första kategori-->
                        <article class="card">
                            <a href="">
                                <img src="" alt="">
                                <h3>Brunch</h3>
                            </a>
                        </article>

                        <!-- andra kategori -->
                        <article class="card">
                            <a href="">
                                <img src="" alt="">
                                <h3>Smått & mingel</h3>
                            </a>
                        </article>

                        <!-- tredje kategori -->
                        <article class="card">
                            <a href="">
                                <img src="" alt="">
                                <h3>Middag & festmat</h3>
                            </a>
                        </article>

                        <!-- fjärde kategori -->
                        <article class="card">
                            <a href="">
                                <img src="" alt="">
                                <h3>Buffé</h3>
                            </a>
                        </article>

                        <!-- femte kategori -->
                        <article class="card">
                            <a href="">
                                <img src="" alt="">
                                <h3>Bakverk & sött</h3>
                            </a>
                        </article>

                        <!-- sjätte kategori -->
                        <article class="card card-all">
                            <a href="#">
                                <h3>Visa alla kategorier</h3>
                            </a>
                        </article>
                    </div>
                 </section>
            </main>

            <!-- footer skapare av ... -->
            <footer>
                <h2>Beställ Direkt</h2>
                <p>© Beställ direkt 2026</p>
            </footer>
        </div>
    </body>
</html>