<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Beställ Direkt - info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">
        <link href="https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="grid">
            <header>
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="sidans_logo">
                </a>

                <a id="for-foretag" href="{{ url_for('login_page') }}"> För företag</a>
            </header>

            <nav class="nav">     
                <form action="/search" method="GET">
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input class="search-input" type="search" name="q" id="search" placeholder="Vad vill du boka idag?">
                    </div>
                </form>
            </nav>

            <main class="info-layout">
                <section id="policy">
                    <h2>Vår policy</h2>
                    <h3>Integritet och ansvar</h3>
                    <p>På Beställ Direkt värnar vi om en trygg marknadsplats för både anslutna förteag och våra besökare. 
                        För att säkerställa en hög standard förväntar vi oss att alla användare följer våra etiska riktlinjer och integritetspolicy. 
                        Dessa regler finns till för att skydda din data och garantera en säker, transparent och professionell upplevelse för alla parter. 
                    </p>

                    <h3>Kvalitetskrav och livsmedelssäkerhet</h3>
                    <p>
                        Din trygghet är vår prioritet. Därför stället vi strikta krav på vååra samarbetspartners:
                        <ul>
                            <li>
                                <p>
                                    - certifiering: Vi samarbetar med endast företag som kan uppvisa ett giltligt registreringsbevis från miljöförvaltningen.
                                </p>
                            </li>
                            <li>
                                <p>
                                    - Lag: Våra anslutna verksamheter är skyldoga att aktivt följa aktuell livsmedelslagstiftning och hygienkrav.
                                </p>
                            </li>
                        </ul>
                    </p>
                    <h3>Rapportering av överträdelse</h3>
                    <p>
                        Vi sträver efter att hålla en hög kvalitet på hela plattformen. Om du misstänker att en ansuten aktör bryter mot våra regler, 
                        livsmedelslagstiftningen eller agerar oetiskt, uppmanar vi dig att kontakta oss. 
                    </p>
                    <p>
                        Du når oss via vår <a href="{{ url_for('info', _anchor='support') }}">Support</a>
                    </p>
                </section>
                
                <section id="om-oss">
                    <h2>Om Beställ Direkt</h2>
                    <p>
                        Idén till Beställ Direkt föddes ur ett växande problem: svårigheten att hitta bra catering via sociala medier.
                        Att hitta, jämföra och boka rätt leverantör var tidskrävande och oöverskådligt.
                        Vi har förenklar processen genom att ersätta splittrat sökande med en samlad plattform där du enkelt kan jämföra och boka direkt.  
                    </p>
                    <p>
                        Plattformen har utvecklats och presenteras av fem studenter vid Malmö Universitet inom programmet Informaitonsarkitekt. Vårt mål med Beställ Direkt är att vägen från insperation till en färdig bokning blir så kort och enkel som möjligt. 
                    </p>
                    <p>
                        Genom Beställ Direkt vill vi sätta en ny standard för hur företag och kunder möts i cateringbranschen
                    </p>
                </section>

                <section id="support">
                    <h2>Support</h2>
                    <h3>Behöver du hjälp</h3>
                    <p>Upplever du problem med plattformen? eller har du funderingar och feedback? Vi på Beställ Direkt vill ständigt förbättra vår plattform. 
                        Skicka ett mejl till oss så hjälper vi dig så snart vi kan!
                    </p>
                    <p>Kontakta oss på: info@bestalldirekt.se</p>
                </section>
            </main>
        

        <footer>
            <section class="footer_box">
                <p><a href="{{ url_for('login_page') }}">Företagsinloggning</a></p>
                <p><a href="{{ url_for('info', _anchor='policy') }}">Policy</a></p>
                <p><a href="{{ url_for('info', _anchor='om-oss') }}">Om Beställ Direkt</a></p>
                <p><a href="{{ url_for('info', _anchor='support') }}">Support</a></p>
                <p><a href="{{ url_for('admin_login') }}">Admin</a></p>
            </section>

            <div id="footer_bottom">
                <img src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="sidans_logo">
                <p>© Beställ direkt 2026</p>
            </div>
        </footer>

    </body>
</html>