<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Beställ Direkt - profilsida</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search">
        <link href="https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="grid">
            <header>
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/bestall_direkt_logo.png') }}" alt="sidans_logo">
                </a>
                {% if session.get('user') %}
                    <a class="for-company" href="{{ url_for('profile') }}">Min profil</a>
                {% else %}
                    <a class="for-company" href="{{ url_for('login_page') }}">För företag</a>
                {% endif %}
            </header>
 
            <main>
                {% if business %}
                    <div class="profile-header-content">
                        <h2 class="profile-title">Din verksamhet</h2>
 
                        <div class="profile-top-buttons">
                            <a href="{{ url_for('view_company', company_id=company_id) }}" class="profile-top-btn">
                                Visa verksamhetssida
                            </a>
                        </div>
                {% else %}
                    <div class="profile-header-content">
                        <h2>Du har ingen verksamhet ännu</h2>
                        <a href="{{ url_for('create_business') }}" class="profile-top-btn">
                            Skapa verksamhet
                        </a>
                {% endif %}
 
                        <a href="{{ url_for('logout') }}" class="profile-top-btn">
                            Logga ut
                        </a>
 
                        {% if business %}
                            <div class="profile-id-box">
                                <p><strong>Verksamhets-ID:</strong> #{{ business[0] }}</p>
                            </div>
                        {% endif %}
                    </div>
 
                <div class="profile-layout">
 
                    <div class="profile-edit-box">
                        <h3>Redigera profilinformation</h3>
 
                        <form method="POST" action="{{ url_for('update_business') }}">
 
                            <label for="company_name">Verksamhetsnamn</label>
                            <input
                                type="text"
                                name="company_name"
                                value="{{ business[1] if business else '' }}"
                                required
                            >
 
                            <label for="description">Beskrivning</label>
                            <textarea
                                name="description"
                                rows="5"
                                required
                            >{{ business[3] if business else '' }}</textarea>
 
                            <label for="phone">Telefonnummer</label>
                            <input
                                type="text"
                                name="phone"
                                value="{{ business[2] if business else '' }}"
                                required
                            >
 
                            <label for="email">E-postadress</label>
                            <input
                                type="email"
                                name="email"
                                value="{{ business[5] if business else '' }}"
                                required
                            >

                            <label for="address">Adress</label>
                            <input
                            type="text"
                            name="address"
                            value="{{ business[8] if business else '' }}"
                            placeholder="Ange adress"
                            >
 
                            <label>Kategori</label>
                            <select name="category">
                                <option value="Brunch" {% if business and business[4] == "Brunch" %}selected{% endif %}>Brunch</option>
                                <option value="Smått & mingel" {% if business and business[4] == "Smått & mingel" %}selected{% endif %}>Smått & mingel</option>
                                <option value="Middag & festmat" {% if business and business[4] == "Middag & festmat" %}selected{% endif %}>Middag & festmat</option>
                                <option value="Buffé" {% if business and business[4] == "Buffé" %}selected{% endif %}>Buffé</option>
                                <option value="Bakverk & sött" {% if business and business[4] == "Bakverk & sött" %}selected{% endif %}>Bakverk & sött</option>
                                <option value="Vegetariskt" {% if business and business[4] == "Vegetariskt" %}selected{% endif %}>Vegetariskt</option>
                            </select>
 
                            <button type="submit">Spara ändringar</button>
 
                        </form>
 
                        <form method="POST" action="{{ url_for('upload_profile_image') }}" enctype="multipart/form-data">
                            <label for="profile_image">Ladda upp profilbild</label>
                            <input
                                type="file"
                                name="profile_image"
                                id="profile_image"
                                accept=".jpg,.jpeg,.png"
                                required
                            >
                            <button type="submit">Ladda upp bild</button>
                        </form>
                    </div>
 
                    <div class="profile-preview">
 
                        <div class="preview-card">
                            <h1>{{ business[1] if business else '' }}</h1>
                            <p class="preview-description">{{ business[3] if business else '' }}</p>
                            <div class="preview-contact">
                                <h4>Kontakt</h4>
                                <p>{{ business[2] if business else '' }}</p>
                                <p>{{ business[5] if business else '' }}</p>
                            </div>
                        </div>
 
                        <h3 class="service-title">Lägg till tjänst</h3>
 
                        <form action="{{ url_for('create_service') }}" method="POST" enctype="multipart/form-data" class="service-form">
                            <input type="text" name="item_name" placeholder="Tjänstens namn" required>
                            <textarea name="description" placeholder="Beskrivning"></textarea>
                            <input type="number" name="price" placeholder="Pris" required>
                            <label for="service_image">Bild på tjänsten</label>
                            <input type="file" name="service_image" id="service_image" accept=".jpg,.jpeg,.png">
                            <button type="submit">Lägg till tjänst</button>
                        </form>

                        <h3 class="service-title">Mina tjänster</h3>

                        {% for service in services %}
                        <form action="{{ url_for('update_service', service_id=service[0]) }}" method="POST" enctype="multipart/form-data"class="service-form">
                              {% if service[4] %}
                              <img src="{{ service[4] }}" alt="{{ service[1] }}" class="service-preview-image">
                            
                              {% endif %}
                              <input
                              type="text"
                              name="item_name"
                              value="{{ service[1] }}"
                              placeholder="Tjänstens namn"
                              required
                           >
                        
                           <textarea name="description" placeholder="Beskrivning">{{ service[2] }}</textarea>
                             <input
                                    type="number"
                                    name="price"
                                    value="{{ service[3] }}"
                                    placeholder="Pris"
                                    required
                                >

                            <input
                                   type="file"
                                   name="service_image"
                                   accept=".jpg,.jpeg,.png"
                                >

                                <div class="service-actions">
                                    <button type="submit">Spara ändringar</button>

                                        <a href="{{ url_for('delete_service', service_id=service[0]) }}" class="delete-service-btn" onclick="return confirm('Vill du verkligen radera tjänsten?')">Radera tjänst</a>
                                
                                </div>

                        </form>
                        {% endfor %}


 
                        <div class="bookings-box">
                            <h3>Era bokade tjänster</h3>
                            {% if bookings %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Kund</th>
                                            <th>Telefon</th>
                                            <th>Datum</th>
                                            <th>Tjänst</th>
                                            <th>Antal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking in bookings %}
                                            <tr>
                                                <td>{{ booking[2] }}</td>
                                                <td>{{ booking[3] }}</td>
                                                <td>{{ booking[1].strftime('%Y-%m-%d %H:%M') }}</td>
                                                <td>{{ booking[4] }}</td>
                                                <td>{{ booking[5] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Du har inga bokningar ännu.</p>
                            {% endif %}
                        </div>
 
                        <div class="delete-account-box">
                            <h3>Kontoinställningar</h3>
                            {% if business %}
                                <div class="status-toggle-section">
                                    <h4>Företagssidans status</h4>
                                    {% if is_active == false %}
                                        <p>Din verksamhetssida är just nu <strong>inaktiv</strong> för kunder </p>
                                        <form action="{{ url_for('toggle_status') }}" method="POST">
                                            <button type="submit" class="status-btn btn-activate"> Aktivera Företagssidan </button>
                                        </form>
                                    {% else %}
                                        <p>Din verksamhetssida är just nu <strong>aktiv</strong> för kunder </p>
                                        <form action="{{ url_for('toggle_status') }}" method="POST">
                                            <button type="submit" class="status-btn btn-deactivate"> Inaktivera Företagssidan </button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}


                            <p>Radering av ditt konto är permanent och kan inte ångras. All din data tas bort enligt GDPR.</p>
                            <form action="{{ url_for('delete_account') }}" method="POST"
                                  onsubmit="return confirm('Är du säker? Detta raderar ditt konto och all data permanent.')">
                                <button type="submit" class="delete-account-btn">Radera mitt konto</button>
                            </form>
                        </div>
 
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>